apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tomcat
  template:
    metadata:
      labels:
        app: tomcat
    spec:
      containers:
      - name: tomcat
<<<<<<< HEAD
        image:leejs5183/mytomcat2:latest
        ports:
        - containerPort: 8080
=======
        image: vehuiah/tomcat2:latest
>>>>>>> 75aa1e6 (20260204-2)
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
        

